version: '3.7'

volumes:
  prometheus_data: {}
  grafana_data: {}


services:
  app:
    image: "application:latest"
    ports:
      - "8080:8080"

  prometheus:
    image: "prom/prometheus:v2.1.0"
    depends_on:
      - app
    volumes:
      - "./infra/prometheus/:/etc/prometheus/"
      - "prometheus_data:/prometheus"
    command:
      - "--config.file=/etc/prometheus/prometheus.yml"
      - "--storage.tsdb.path=/prometheus"
      - "--web.console.libraries=/usr/share/prometheus/console_libraries"
      - "--web.console.templates=/usr/share/prometheus/consoles"
    ports:
      - "9090:9090"
    restart: always

  grafana:
    image: "grafana/grafana"
    user: "104"
    depends_on:
      - prometheus
    ports:
      - "3000:3000"
    volumes:
      - "grafana_data:/var/lib/grafana"
      - "./infra/grafana/provisioning/:/etc/grafana/provisioning"
    env_file:
      - "./infra/grafana/config.monitoring"
    restart: always
