use_flake() {
    watch_file flake.nix
    watch_file flake.lock
    watch_file nix/devShell/default/default.nix
    watch_file nix/pre-commit.nix
    watch_file nix/default.nix
    eval "$(nix print-dev-env --profile "$(direnv_layout_dir)/flake-profile")"
}

mkdir -p $(direnv_layout_dir)
use flake
